{% extends "base.html" %}


{% block midpart %}


<!------------------------------------------------------>
<!------------------------------------------------------>
<!------------------------------------------------------>
    <!-- About Us Page
    ==========================================-->
    <div id="tf-about" style="padding-bottom:6%;">
        <div class="container">
			<div class="row angle-down-in-out">
							<br>
			</div>							
			
            <div class="row">
			<article id="post-917" class="post-917 page type-page status-publish has-post-thumbnail hentry content-box content-box-wrapper">
						<p>At Cureato, our motive is to change the perspective of healthcare and make its access simple and smooth to everyone across the globe.</p>
<p>Cureato is a platform which brings the best of hospitals, clinics, diagnostic centers and host of other healthcare services under one roof using technology to meet yours and your family’s health and wellness needs.</p>
<p>Today, global healthcare space is growing at enormous pace and we stand to use technology to bring about change in the healthcare system to increase its reach to the masses at the same time making it more transparent, affordable and convenient.</p>
<p>Our objective is to provide genuine, reliable and detailed information about various healthcare institutions and services so that you can make a well informed decision about the services which you need. Usually people enquire about various healthcare services through friends or relatives references or a few anonymous online reviews. Our rating system gives you a 360 degree feedback of a particular healthcare service, so you can be sure of the quality and authenticity of the service you are planning to avail.</p>
<p>Deliveries of quality healthcare services are considered a basic need irrespective of age, gender, culture etc. Our healthcare system faces substantial challenges in providing qualitative healthcare. With growing population and urbanization, we tend to forget the basic aspects of healthcare which is vital to have a healthy life. Serious challenges are being posed to our health due to change in lifestyle and various other factors.</p>
<p>Health and healthcare needs to be distinguished from each other for no better reason than that the former is often incorrectly seen as a direct function of the latter. Heath is clearly not the mere absence of disease. Good Health confers on a person or groups’ freedom from illness – and the ability to realize one’s potential.&nbsp; Health is therefore best understood as the indispensable basis for defining a person’s sense of well being.</p>
					</article>
            </div>

			<div class="row" style="padding-top:15%;">
			<div class="row angle-down-in-out">
							<br>
			</div>							
				<div class="col-md-9">
					<h2 style="padding-bottom:4%;"> Cureato is the best way to the best healthcare</h2>

					<div class="cta-description"><p>It just gets better and better</p>
					</div>
				</div>

				<div class="col-md-3">
					<a href="#" class="btn btn-default page-scroll"  data-toggle="modal" data-target="#myModalLink" style="background-color:#EF519E; color:#ffffff; padding:10px 10px 10px 10px; margin-top:5px;">List Yourself</a>
					<p><small class="cta-subtext">and get started in minutes</small></p>
				</div>

			</div>
        </div>
    </div>




{% endblock %}
