<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}My Care{% endblock %}</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css"  href="/static/css/site_style.css">
	<link href="/static/css/jquery-ui.css" rel="stylesheet">
	
	
	    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
      function initialize() {
        var mapCanvas = document.getElementById('map');
        var mapOptions = {
          center: new google.maps.LatLng(44.5403, -78.5463),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
	<style>
		td, th{padding:2px;}
		.error {color:red;}
	</style>
	
	
  </head>
  <body>
    <!-- Navigation
    ==========================================-->
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <a href="/"><img src="/static/img/logo2.png" style="width:100px;"></a>
          <ul class="nav navbar-nav navbar-right">
		    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hospitals<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="/hospitals-list/">Action</a></li>
					<li><a href="/hospitals-list/">Another action</a></li>
				</ul>
			</li>
			<li><a href="/clinics-list/" class="page-scroll">Clinics</a></li>
			<li><a href="/dglabs-list/" class="page-scroll">Diagnostic Lab</a></li>
			<li><a href="/pharmacy-list/" class="page-scroll">Pharmacy</a></li>
			{% if user.is_authenticated %}
			<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome | {{user.username}}<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="#">Profile</a></li>
					<li><a href="/logout/">Logout</a></li>
				</ul>
			</li>
		    {% else %}
                <li><a href="/user-login/" class="page-scroll"  data-toggle="modal" data-target="#myModalLogin">Login</a></li>
                <li><a href="/user-registration/" class="page-scroll"  data-toggle="modal" data-target="#myModalSingup">Signup</a></li>
            {% endif %}
			<li><a href="#" class="btn btn-default page-scroll"  data-toggle="modal" data-target="#myModalSingup" style="background-color:#4DC6F3; color:#ffffff; padding:10px 10px 10px 10px; margin-top:5px;">List Yourself</a></li>
            <!--<li><a href="#tf-testimonials" class="page-scroll">Testimonials</a></li>
            <li><a href="#tf-contact" class="page-scroll">Contact Us</a></li>-->
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->

	  </nav>

    <!-- Home Page
    ==========================================-->
	  <!--Login Modal -->

  <div class="modal fade" id="myModalLogin" role="dialog">
    <div class="modal-dialog">
<!-- Modal content-->
      <div class="modal-content" id = "form-model-content">
            {% include "user_login.html" %}
      </div>
    </div>
  </div>


<!--Singup Modal -->
  <div class="modal fade" id="myModalSingup" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content" id = "register-form-content">
            {% include "user_register.html" %}
      </div>
    </div>
  </div>

  {% block midpart %}

  {% endblock %}

  {% block footer %}
      <nav id="footer">
        <div class="container">
            <div class="pull-left fnav">
                <p></a></p>
            </div>
            <div class="pull-right fnav">
                <ul class="footer-social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
  {% endblock %}

<script src="/static/js/jquery.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<script>




var availableTags = [
	"Heart",
	"AppleScript",
	"Asp",
	"BASIC",
	"C",
	"C++",
	"Clojure",
	"COBOL",
	"ColdFusion",
	"Erlang",
	"Fortran",
	"Groovy",
	"Haskell",
	"Java",
	"JavaScript",
	"Lisp",
	"Perl",
	"PHP",
	"Python",
	"Ruby",
	"Scala",
	"Scheme"
];
var hospitalTags = [
"Cherish Infertility Clinic",
"Eliya Prabha Maternity Centre",
"Kosmoderma Skin, Hair & Laser Clinic",
"Whitefield Eye Clinic",
"Dr Batras",
"Apollo Clinic",
"Express Clinics Private Limited",
"Springleaf Healthcare Pvt Ltd",
"Pulse Healthcare Pvt Ltd",
"Dental Health Clinic",
];
$( "#keyword_search" ).autocomplete({
	source: availableTags
});
$( "#location_search" ).autocomplete({
	source: availableTags
});
$( "#speciality_search" ).autocomplete({
	source: hospitalTags
});
</script>
    <script type="text/javascript" src="/static/js/jquery.1.11.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/SmoothScroll.js"></script>
    <script type="text/javascript" src="/static/js/jquery.isotope.js"></script>
    <script type="text/javascript" src="/static/js/jquery.validate.js"></script>
    
<script>
    $(function() {
        $(".dropdown").hover(
            function(){ $(this).addClass('open') },
            function(){ $(this).removeClass('open') }
        );
    });
</script>
    <script src="/static/js/owl.carousel.js"></script>

    <!-- Javascripts
    ================================================== -->
    <script type="text/javascript" src="/static/js/main.js"></script>
    
           <!--script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
				$('#timepicker').timepicker({
									showPeriod: true,
									showLeadingZero: true
					});
            });
			
        </script-->
    
    
    	<script>
	        $('.submenu').click(function() {
            $('.details_content').hide();
			var vid = $(this);
			var vid1 = vid.attr('id');
			//alert('.'+vid1+'_1');
			$('.'+vid1+'_1').show();
			});
	</script>
    
    
  </body>
</html>
  
  
  
  
  
  
