{% extends "base.html" %}

{% block title %}Hospitals{% endblock %}

{% block midpart %}





  <!----------------Home1------------------------->
  
  <!----------------Home1------------------------->
    <div id="tf" class="text-center">
        <div class="overlay">

			<div class="content_in" id="map">
				

			</div>
		</div>
	</div>

<!------------------------------------------------------>
    <!-- Portfolio Section
    ==========================================-->
    <div id="tf-hospitals-in">
        <div class="container"> <!-- Container -->
			
            <div class="categories">

                <div class="clearfix"></div>
            </div>
			<div class="col-sm-3">
							<div class="col-sm-12">
								<div>
									<div class="inner-addon left-addon">
										<h5>Modify Search</h5>

									</div>
									</div>
							</div>			
							<div class="col-sm-12">
								<div>
									<div class="inner-addon left-addon">
										<i class="fa fa-search"></i>
										<input type="text" class="form-control" placeholder="Speciality/Department" name="srch-term" id="keyword_search"  style="border-radius:20px;">

									</div><br>			
									</div>
							</div>
							<div class="col-sm-12">
								<div>
									<div class="inner-addon left-addon">
										<i class="fa fa-search"></i>
										<input type="text" class="form-control placepicker" placeholder="Location" name="srch-term" id="location_search"  style="border-radius:20px;">

									</div><br>			
									</div>
							</div>
							<div class="col-sm-12">
								<div>
									<div class="inner-addon left-addon">
										<i class="fa fa-search"></i>
										<input type="text" class="form-control" placeholder="Keyword/Clinics/Hospitals/Lab/Pharmacy" name="srch-term" id="speciality_search"  style="border-radius:20px;">

									</div><br>	
									</div>
							</div>
							<div class="col-sm-6">
										<span class="input-group-btn">
											<a href="hospitals.html"><button tabindex="1" class="btn btn-home-top" type="button" onclick="ga('send', 'event', 'Ask a Question', 'Consult Privately', 'Search');">Search</button></a>
										</span>
							
							</div>
			
			</div>



			<div class="col-sm-9">
				<div id="wrap">
					<header>
						<span class="list-style-buttons">
							<a href="#" id="gridview" class="switcher"><img src="img/grid-view.PNG" alt="Grid"></a>
							<a href="#" id="listview" class="switcher active"><img src="img/list-view-active.PNG" alt="List"></a>
						</span>
						<h4 style="color:#808080;">Search Result</h4>

					</header>

					<ul id="products" class="list clearfix">
					<!-- row 1 -->
					<li class="clearfix">
						<section class="left">
							<img src="/static/img/hospitals/sagar-logo.jpg" alt="default thumb" class="thumb">

						</section>
				
						<section class="right">
                            <a href="/hospital-page/">

								<h4 class="f_name_heading">Fortis Hospitals</h4>
								<span class="darkview">
									<span class="job_listing-rating-stars">
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>			
									</span>
								</span>
							</a>
						</section>
					</li>
			
			<!-- row 2 -->
					<li class="clearfix">
						<section class="left">
							<img src="/static/img/hospitals/sagar-logo.jpg" alt="default thumb" class="thumb">

						</section>
				
						<section class="right">
                            <a href="/hospital-page/">

								<h4 class="f_name_heading">Manipal Hospital</h4>
								<span class="darkview">
									<span class="job_listing-rating-stars">
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>			
									</span>
								</span>
							</a>
						</section>
					</li>

			
			<!-- row 3 -->
					<li class="clearfix">
						<section class="left">
							<img src="/static/img/hospitals/sagar-logo.jpg" alt="default thumb" class="thumb">

						</section>
				
						<section class="right">
                            <a href="/hospital-page/">

								<h4 class="f_name_heading">Columbia Asia Hospital</h4>
								<span class="darkview">
									<span class="job_listing-rating-stars">
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>			
									</span>
								</span>
							</a>
						</section>
					</li>

			<!-- row 4 -->
					<li class="clearfix">
						<section class="left">
							<img src="/static/img/hospitals/sagar-logo.jpg" alt="default thumb" class="thumb">

						</section>
				
						<section class="right">
                            <a href="/hospital-page/">

								<h4 class="f_name_heading">Narayana Health</h4>
								<span class="darkview">
									<span class="job_listing-rating-stars">
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>			
									</span>
								</span>
							</a>
						</section>
					</li>

			<!-- row 5 -->
					<li class="clearfix">
						<section class="left">
							<img src="/static/img/hospitals/sagar-logo.jpg" alt="default thumb" class="thumb">

						</section>
				
						<section class="right">
                            <a href="/hospital-page/">

								<h4 class="f_name_heading">Rainbow Hospitals</h4>
								<span class="darkview">
									<span class="job_listing-rating-stars">
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>			
									</span>
								</span>
							</a>
						</section>
					</li>

			<!-- row 6 -->
					<li class="clearfix">
						<section class="left">
							<img src="/static/img/hospitals/sagar-logo.jpg" alt="default thumb" class="thumb">

						</section>
				
						<section class="right">
                            <a href="/hospital-page/">

								<h4 class="f_name_heading">Apollo Hospitals</h4>
								<span class="darkview">
									<span class="job_listing-rating-stars">
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>			
									</span>
								</span>
							</a>
						</section>
					</li>

			
			<!-- row 7 -->
					<li class="clearfix">
						<section class="left">
							<img src="/static/img/hospitals/sagar-logo.jpg" alt="default thumb" class="thumb">

						</section>
				
						<section class="right">
                            <a href="/hospital-page/">

								<h4 class="f_name_heading">Sagar Hospitals</h4>
								<span class="darkview">
									<span class="job_listing-rating-stars">
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>			
									</span>
								</span>
							</a>
						</section>
					</li>
			
			<!-- row 8 -->
					<li class="clearfix">
						<section class="left">
							<img src="/static/img/hospitals/sagar-logo.jpg" alt="default thumb" class="thumb">

						</section>
				
						<section class="right">
                            <a href="/hospital-page/">

								<h4 class="f_name_heading">Sakra World Hospital</h4>
								<span class="darkview">
									<span class="job_listing-rating-stars">
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>			
									</span>
								</span>
							</a>
						</section>
					</li>

			
			<!-- row 9 -->
					<li class="clearfix">
						<section class="left">
							<img src="/static/img/hospitals/sagar-logo.jpg" alt="default thumb" class="thumb">

						</section>
				
						<section class="right">
                            <a href="/hospital-page/">

								<h4 class="f_name_heading">Sparsh Hospital</h4>
								<span class="darkview">
									<span class="job_listing-rating-stars">
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>			
									</span>
								</span>
							</a>
						</section>
					</li>
			<!-- row 9 -->
					<li class="clearfix">
						<section class="left">
							<img src="/static/img/hospitals/sagar-logo.jpg" alt="default thumb" class="thumb">

						</section>
				
						<section class="right">
                            <a href="/hospital-page/">

								<h4 class="f_name_heading">Tamara Hospital</h4>
								<span class="darkview">
									<span class="job_listing-rating-stars">
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>			
									</span>
								</span>
							</a>
						</section>
					</li>
			<!-- row 9 -->
					<li class="clearfix">
						<section class="left">
							<img src="/static/img/hospitals/sagar-logo.jpg" alt="default thumb" class="thumb">

						</section>
				
						<section class="right">
                            <a href="/hospital-page/">

								<h4 class="f_name_heading">The Bangalore Hospital</h4>
								<span class="darkview">
									<span class="job_listing-rating-stars">
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>			
									</span>
								</span>
							</a>
						</section>
					</li>					
			<!-- row 9 -->
					<li class="clearfix">
						<section class="left">
							<img src="/static/img/hospitals/sagar-logo.jpg" alt="default thumb" class="thumb">

						</section>
				
						<section class="right">
                            <a href="/hospital-page/">

								<h4 class="f_name_heading">Jayadeva Hospital</h4>
								<span class="darkview">
									<span class="job_listing-rating-stars">
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>			
									</span>
								</span>
							</a>
						</section>
					</li>

			<!-- row 9 -->
					<li class="clearfix">
						<section class="left">
							<img src="/static/img/hospitals/sagar-logo.jpg" alt="default thumb" class="thumb">

						</section>
				
						<section class="right">
                            <a href="/hospital-page/">

								<h4 class="f_name_heading">Ramakrishna Super Specialty Hospital</h4>
								<span class="darkview">
									<span class="job_listing-rating-stars">
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>			
									</span>
								</span>
							</a>
						</section>
					</li>
			<!-- row 9 -->
					<li class="clearfix">
						<section class="left">
							<img src="/static/img/hospitals/sagar-logo.jpg" alt="default thumb" class="thumb">

						</section>
				
						<section class="right">
                            <a href="/hospital-page/">

								<h4 class="f_name_heading">Lifecare Hospital</h4>
								<span class="darkview">
									<span class="job_listing-rating-stars">
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>			
									</span>
								</span>
							</a>
						</section>
					</li>
			<!-- row 9 -->
					<li class="clearfix">
						<section class="left">
							<img src="/static/img/hospitals/sagar-logo.jpg" alt="default thumb" class="thumb">

						</section>
				
						<section class="right">
                            <a href="/hospital-page/">

								<h4 class="f_name_heading">Stanford Speciality Hospital</h4>
								<span class="darkview">
									<span class="job_listing-rating-stars">
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>			
									</span>
								</span>
							</a>
						</section>
					</li>	
			<!-- row 9 -->
					<li class="clearfix">
						<section class="left">
							<img src="/static/img/hospitals/sagar-logo.jpg" alt="default thumb" class="thumb">

						</section>
				
						<section class="right">
                            <a href="/hospital-page/">

								<h4 class="f_name_heading">JSS Hospital</h4>
								<span class="darkview">
									<span class="job_listing-rating-stars">
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>			
									</span>
								</span>
							</a>
						</section>
					</li>
			<!-- row 9 -->
					<li class="clearfix">
						<section class="left">
							<img src="/static/img/hospitals/sagar-logo.jpg" alt="default thumb" class="thumb">

						</section>
				
						<section class="right">
                            <a href="/hospital-page/">

								<h4 class="f_name_heading">Greenview Hospital</h4>
								<span class="darkview">
									<span class="job_listing-rating-stars">
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>			
									</span>
								</span>
							</a>
						</section>
					</li>
			<!-- row 9 -->
					<li class="clearfix">
						<section class="left">
							<img src="/static/img/hospitals/sagar-logo.jpg" alt="default thumb" class="thumb">

						</section>
				
						<section class="right">
                            <a href="/hospital-page/">

								<h4 class="f_name_heading">Jayashree Multispeciality Hospital</h4>
								<span class="darkview">
									<span class="job_listing-rating-stars">
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>			
									</span>
								</span>
							</a>
						</section>
					</li>
			<!-- row 9 -->
					<li class="clearfix">
						<section class="left">
							<img src="/static/img/hospitals/sagar-logo.jpg" alt="default thumb" class="thumb">

						</section>
				
						<section class="right">
                            <a href="/hospital-page/">

								<h4 class="f_name_heading">Punya Hospitals</h4>
								<span class="darkview">
									<span class="job_listing-rating-stars">
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>			
									</span>
								</span>
							</a>
						</section>
					</li>
			<!-- row 9 -->
					<li class="clearfix">
						<section class="left">
							<img src="/static/img/hospitals/sagar-logo.jpg" alt="default thumb" class="thumb">

						</section>
				
						<section class="right">
                            <a href="/hospital-page/">

								<h4 class="f_name_heading">People Tree Hospital</h4>
								<span class="darkview">
									<span class="job_listing-rating-stars">
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>			
									</span>
								</span>
							</a>
						</section>
					</li>
			<!-- row 9 -->
					<li class="clearfix">
						<section class="left">
							<img src="/static/img/hospitals/sagar-logo.jpg" alt="default thumb" class="thumb">

						</section>
				
						<section class="right">
                            <a href="/hospital-page/">

								<h4 class="f_name_heading">Yahomati Hospital</h4>
								<span class="darkview">
									<span class="job_listing-rating-stars">
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>			
									</span>
								</span>
							</a>
						</section>
					</li>
			<!-- row 9 -->
					<li class="clearfix">
						<section class="left">
							<img src="/static/img/hospitals/sagar-logo.jpg" alt="default thumb" class="thumb">

						</section>
				
						<section class="right">
                            <a href="/hospital-page/">

								<h4 class="f_name_heading">Regal Hospital</h4>
								<span class="darkview">
									<span class="job_listing-rating-stars">
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>			
									</span>
								</span>
							</a>
						</section>
					</li>
			<!-- row 9 -->
					<li class="clearfix">
						<section class="left">
							<img src="/static/img/hospitals/sagar-logo.jpg" alt="default thumb" class="thumb">

						</section>
				
						<section class="right">
                            <a href="/hospital-page/">

								<h4 class="f_name_heading">Garden City Hospital</h4>
								<span class="darkview">
									<span class="job_listing-rating-stars">
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>			
									</span>
								</span>
							</a>
						</section>
					</li>
			<!-- row 9 -->
					<li class="clearfix">
						<section class="left">
							<img src="/static/img/hospitals/sagar-logo.jpg" alt="default thumb" class="thumb">

						</section>
				
						<section class="right">
                            <a href="/hospital-page/">

								<h4 class="f_name_heading">Shanthi Hospital</h4>
								<span class="darkview">
									<span class="job_listing-rating-stars">
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>			
									</span>
								</span>
							</a>
						</section>
					</li>
			<!-- row 9 -->
					<li class="clearfix">
						<section class="left">
							<img src="/static/img/hospitals/sagar-logo.jpg" alt="default thumb" class="thumb">

						</section>
				
						<section class="right">
                            <a href="/hospital-page/">

								<h4 class="f_name_heading">Cloudnine Hospital</h4>
								<span class="darkview">
									<span class="job_listing-rating-stars">
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>			
									</span>
								</span>
							</a>
						</section>
					</li>
			<!-- row 9 -->
					<li class="clearfix">
						<section class="left">
							<img src="/static/img/hospitals/sagar-logo.jpg" alt="default thumb" class="thumb">

						</section>
				
						<section class="right">
                            <a href="/hospital-page/">

								<h4 class="f_name_heading">Mahabodhi Mallige Hospital</h4>
								<span class="darkview">
									<span class="job_listing-rating-stars">
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>			
									</span>
								</span>
							</a>
						</section>
					</li>
			<!-- row 9 -->
					<li class="clearfix">
						<section class="left">
							<img src="/static/img/hospitals/sagar-logo.jpg" alt="default thumb" class="thumb">

						</section>
				
						<section class="right">
                            <a href="/hospital-page/">

								<h4 class="f_name_heading">BGS Global Hospital</h4>
								<span class="darkview">
									<span class="job_listing-rating-stars">
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>			
									</span>
								</span>
							</a>
						</section>
					</li>
			<!-- row 9 -->
					<li class="clearfix">
						<section class="left">
							<img src="/static/img/hospitals/sagar-logo.jpg" alt="default thumb" class="thumb">

						</section>
				
						<section class="right">
                            <a href="/hospital-page/">

								<h4 class="f_name_heading">Specialist Hospital</h4>
								<span class="darkview">
									<span class="job_listing-rating-stars">
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>			
									</span>
								</span>
							</a>
						</section>
					</li>
			<!-- row 9 -->
					<li class="clearfix">
						<section class="left">
							<img src="/static/img/hospitals/sagar-logo.jpg" alt="default thumb" class="thumb">

						</section>
				
						<section class="right">
                            <a href="/hospital-page/">

								<h4 class="f_name_heading">Springleaf Healthcare</h4>
								<span class="darkview">
									<span class="job_listing-rating-stars">
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>			
									</span>
								</span>
							</a>
						</section>
					</li>
			<!-- row 9 -->
					<li class="clearfix">
						<section class="left">
							<img src="/static/img/hospitals/sagar-logo.jpg" alt="default thumb" class="thumb">

						</section>
				
						<section class="right">
                            <a href="/hospital-page/">

								<h4 class="f_name_heading">MS Ramiah Hospital</h4>
								<span class="darkview">
									<span class="job_listing-rating-stars">
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>			
									</span>
								</span>
							</a>
						</section>
					</li>			<!-- row 9 -->
					<li class="clearfix">
						<section class="left">
							<img src="/static/img/hospitals/sagar-logo.jpg" alt="default thumb" class="thumb">

						</section>
				
						<section class="right">
                            <a href="/hospital-page/">

								<h4 class="f_name_heading">Sri Bhagwan Mahaveer Jain Hospital</h4>
								<span class="darkview">
									<span class="job_listing-rating-stars">
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>			
									</span>
								</span>
							</a>
						</section>
					</li>
			<!-- row 9 -->
					<li class="clearfix">
						<section class="left">
							<img src="/static/img/hospitals/sagar-logo.jpg" alt="default thumb" class="thumb">

						</section>
				
						<section class="right">
                            <a href="/hospital-page/">

								<h4 class="f_name_heading">Mallya Hospital</h4>
								<span class="darkview">
									<span class="job_listing-rating-stars">
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>			
									</span>
								</span>
							</a>
						</section>
					</li>
			<!-- row 9 -->
					<li class="clearfix">
						<section class="left">
							<img src="/static/img/hospitals/sagar-logo.jpg" alt="default thumb" class="thumb">

						</section>
				
						<section class="right">
                            <a href="/hospital-page/">

								<h4 class="f_name_heading">Chinmaya Mission Hospital</h4>
								<span class="darkview">
									<span class="job_listing-rating-stars">
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>			
									</span>
								</span>
							</a>
						</section>
					</li>
			<!-- row 9 -->
					<li class="clearfix">
						<section class="left">
							<img src="/static/img/hospitals/sagar-logo.jpg" alt="default thumb" class="thumb">

						</section>
				
						<section class="right">
                            <a href="/hospital-page/">

								<h4 class="f_name_heading">St Philomena's Hospital</h4>
								<span class="darkview">
									<span class="job_listing-rating-stars">
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>			
									</span>
								</span>
							</a>
						</section>
					</li>
			<!-- row 9 -->
					<li class="clearfix">
						<section class="left">
							<img src="/static/img/hospitals/sagar-logo.jpg" alt="default thumb" class="thumb">

						</section>
				
						<section class="right">
                            <a href="/hospital-page/">

								<h4 class="f_name_heading">Hosmat Hospital</h4>
								<span class="darkview">
									<span class="job_listing-rating-stars">
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>			
									</span>
								</span>
							</a>
						</section>
					</li>
			<!-- row 9 -->
					<li class="clearfix">
						<section class="left">
							<img src="/static/img/hospitals/sagar-logo.jpg" alt="default thumb" class="thumb">

						</section>
				
						<section class="right">
                            <a href="/hospital-page/">

								<h4 class="f_name_heading">St Marthas Hospital</h4>
								<span class="darkview">
									<span class="job_listing-rating-stars">
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>			
									</span>
								</span>
							</a>
						</section>
					</li>
			<!-- row 9 -->
					<li class="clearfix">
						<section class="left">
							<img src="/static/img/hospitals/sagar-logo.jpg" alt="default thumb" class="thumb">

						</section>
				
						<section class="right">
                            <a href="/hospital-page/">

								<h4 class="f_name_heading">Victoria Hospital</h4>
								<span class="darkview">
									<span class="job_listing-rating-stars">
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>			
									</span>
								</span>
							</a>
						</section>
					</li>
			<!-- row 9 -->
					<li class="clearfix">
						<section class="left">
							<img src="/static/img/hospitals/sagar-logo.jpg" alt="default thumb" class="thumb">

						</section>
				
						<section class="right">
                            <a href="/hospital-page/">

								<h4 class="f_name_heading">Panacea Hospital</h4>
								<span class="darkview">
									<span class="job_listing-rating-stars">
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>			
									</span>
								</span>
							</a>
						</section>
					</li>					
			<!-- row 9 -->
					<li class="clearfix">
						<section class="left">
							<img src="/static/img/hospitals/sagar-logo.jpg" alt="default thumb" class="thumb">

						</section>
				
						<section class="right">
                            <a href="/hospital-page/">

								<h4 class="f_name_heading">Abhaya Hospital</h4>
								<span class="darkview">
									<span class="job_listing-rating-stars">
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>
										<span class="star-icon"><span class="ion-ios-star-outline"></span></span>			
									</span>
								</span>
							</a>
						</section>
					</li>					
					
					</ul>
				</div>
			</div>
        </div>
    </div>

{% endblock %}

