{% extends "base.html" %}


{% block midpart %}
  <!----------------Home1------------------------->
    <div id="tf-home" class="text-center">
        <div class="overlay">

			<div class="content">
						<div class="row">
							<div class="col-sm-5 col-sm-offset-1">

							</div>
						</div>
						<div class="row">
							<div class="col-sm-7 col-sm-offset-1">							
							<h4 style="text-align: left !important;">THE POWER OF ONLINE HEALTHCARE<strong><span class="color"> MADE SIMPLE</span></strong><br></h4>
							<h4 style="text-align: left !important;">CHOOSE A SERVICE<span class="color"> > </span>  BOOK ONLINE <span class="color"> > </span>  GET THE RIGHT ADVISE AND RATE YOUR CARE</span><strong></strong><br></h4>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-2 col-sm-offset-1">
										<span><input type="text" class="form-control" name="searchSpecility" value="" placeholder="Search by Specialty/Symptom/Doctor/Clinic" tabindex="1" style="" autocomplete="off" spellcheck="false" dir="auto"><pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: MyriadPro-Light, Georgia, 'Times new roman', 'Helvetica Neue'; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 300; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><span class="tt-dropdown-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none; right: auto;"><div class="tt-dataset-specializations"></div></span></span>
							</div>
							<div class="col-sm-2">
										<span><input type="text" class="form-control" name="searchSpecility" value="" placeholder="Select location location" tabindex="1" style="" autocomplete="off" spellcheck="false" dir="auto"><pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: MyriadPro-Light, Georgia, 'Times new roman', 'Helvetica Neue'; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 300; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><span class="tt-dropdown-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none; right: auto;"><div class="tt-dataset-specializations"></div></span></span>
							</div>
							<div class="col-sm-2">
										<span><input type="text" class="form-control" name="searchSpecility" value="" placeholder="Select hospital" tabindex="1" style="" autocomplete="off" spellcheck="false" dir="auto"><pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: MyriadPro-Light, Georgia, 'Times new roman', 'Helvetica Neue'; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 300; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><span class="tt-dropdown-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none; right: auto;"><div class="tt-dataset-specializations"></div></span></span>
							</div>
							<div class="col-sm-1">
										<span class="input-group-btn">
											<a href="hospitals.html"><button tabindex="1" class="btn btn-home-top" type="button" onclick="ga('send', 'event', 'Ask a Question', 'Consult Privately', 'Search');">Search</button></a>
										</span>
							
							</div>
						</div>
						<div class="row angle-down" style="background-color:#D2691E;">
							<br></br>
						</div>				

			</div>
		</div>
	</div>
<!------------------------------------------------------>
  <!----------------Home2------------------------->
    <div id="tf-home-2" class="text-center hidden">
        <div class="overlay">

			<div class="content">
						<div class="row">
							<div class="col-sm-5 col-sm-offset-1">
							<ul class="nav nav-tabs home-nav nav-tabs" role="tablist">
								<li class="home-top-button-active">
									<a class="d-btn-transparent home-top-button-a" href="#" aria-controls="home" role="tab" data-toggle="tab">Consult Privately</a>
								</li>
								<li class="home-top-button">
									<a href="#" class="d-btn-transparent" aria-controls="profile" role="tab" data-toggle="tab">Ask<span class="hidden-xs"> a</span> Question</a>
								</li>
								<li class="home-top-button">
									<a style="margin-right: -1px;" href="#" class="d-btn-transparent" aria-controls="messages" role="tab" data-toggle="tab">Book<span class="hidden-xs"> an</span> Appointment</a>
								</li>
							</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-5 col-sm-offset-1">							
							<h4 style="text-align: left !important;">Welcome to <strong><span class="color">My Care</span></strong><br></h4>
							<div class="home-search">
								<div class="form-group">
									<div class="input-group">
										<span><input type="text" class="form-control input-lg typeahead a-findOnlyDoc tt-input home-search-input" name="searchSpecility" value="" placeholder="Search by Specialty/Symptom/Doctor/Clinic" tabindex="1" style="" autocomplete="off" spellcheck="false" dir="auto"><pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: MyriadPro-Light, Georgia, 'Times new roman', 'Helvetica Neue'; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 300; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><span class="tt-dropdown-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none; right: auto;"><div class="tt-dataset-specializations"></div></span></span>
										<span class="input-group-btn">
											<button tabindex="1" class="btn btn-lg btn-home-top d-callToAction" type="button" onclick="ga('send', 'event', 'Ask a Question', 'Consult Privately', 'Search');">Search</button>
										</span>
									</div>
								</div>
							</div>
							</div>
						</div>
						<div class="row angle-down" style="background-color:#D2691E;">
							<br></br>
						</div>				

			</div>
		</div>
	</div>
<!------------------------------------------------------>

  <!----------------Home3------------------------->
    <div id="tf-home-3" class="text-center hidden">
        <div class="overlay">

			<div class="content">
						<div class="row">
							<div class="col-sm-5 col-sm-offset-1">
							<ul class="nav nav-tabs home-nav nav-tabs" role="tablist">
								<li class="home-top-button-active">
									<a class="d-btn-transparent home-top-button-a" href="#" aria-controls="home" role="tab" data-toggle="tab">Consult Privately</a>
								</li>
								<li class="home-top-button">
									<a href="#" class="d-btn-transparent" aria-controls="profile" role="tab" data-toggle="tab">Ask<span class="hidden-xs"> a</span> Question</a>
								</li>
								<li class="home-top-button">
									<a style="margin-right: -1px;" href="#" class="d-btn-transparent" aria-controls="messages" role="tab" data-toggle="tab">Book<span class="hidden-xs"> an</span> Appointment</a>
								</li>
							</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-5 col-sm-offset-1">							
							<h4 style="text-align: left !important;">Welcome to <strong><span class="color">My Care</span></strong><br></h4>
							<div class="home-search">
								<div class="form-group">
									<div class="input-group">
										<span><input type="text" class="form-control input-lg typeahead a-findOnlyDoc tt-input home-search-input" name="searchSpecility" value="" placeholder="Search by Specialty/Symptom/Doctor/Clinic" tabindex="1" style="" autocomplete="off" spellcheck="false" dir="auto"><pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: MyriadPro-Light, Georgia, 'Times new roman', 'Helvetica Neue'; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 300; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><span class="tt-dropdown-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none; right: auto;"><div class="tt-dataset-specializations"></div></span></span>
										<span class="input-group-btn">
											<button tabindex="1" class="btn btn-lg btn-home-top d-callToAction" type="button" onclick="ga('send', 'event', 'Ask a Question', 'Consult Privately', 'Search');">Search</button>
										</span>
									</div>
								</div>
							</div>
							</div>
						</div>
						<div class="row angle-down" style="background-color:#D2691E;">
							<br></br>
						</div>				

			</div>
		</div>
	</div>
    <!-- Facilities
    ==========================================-->
    <div id="tf-facilities" class="text-center">
        <div class="overlay">
            <div class="container">
                <div class="section-title center">
                    <h2><strong>Our facilities</strong></h2>
                    <div class="line">
                        <hr>
                    </div>
                </div>

                <div id="team" class="owl-carousel owl-theme row">
                    <div class="item">
                        <div class="thumbnail">
                            <img src="/static/img/team/01.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>On-line Appointment</h3>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="/static/img/team/02.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>On-line Consultation</h3>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="/static/img/team/03.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Ask your doubt</h3>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="/static/img/team/04.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Hospital Information</h3>
                            </div>
                        </div>
                    </div>

                </div>
                				
            </div>
			
        </div>

    </div>

    <!-- Hospitals Section
    ==========================================-->
    <div id="tf-hospitals">
	    <div class="overlay">

        <div class="container"> <!-- Container -->
            <div class="section-title text-center center">
                <h2><strong>Featured Hospitals</strong></h2>
                <div class="line">
                    <hr>
                </div>
                <div class="clearfix"></div>
                <small><em></em></small>
            </div>
            <div class="categories">
                
                <ul class="cat">
                    <li class="pull-left"><h4>Filter by Type:</h4></li>
                    <li class="pull-right">
                        <ol class="type">
                            <li><a href="#" data-filter="*" class="active">All</a></li>
                            <li><a href="#" data-filter=".web">General Physician</a></li>
                            <li><a href="#" data-filter=".photography">Nero</a></li>
                            <li><a href="#" data-filter=".app" >Heart</a></li>
                            <li><a href="#" data-filter=".branding" >Orthopaedic</a></li>
						</ol>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div id="lightbox" class="row">

                <div class="col-sm-6 col-md-3 col-lg-3 branding">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Sagar</h4>
                                    <small>Hospital</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="/static/img/portfolio/p3.jpg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 photography app">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Sagar</h4>
                                    <small>Hospital</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="/static/img/portfolio/p3.jpg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 branding">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Sagar</h4>
                                    <small>Hospital</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="/static/img/portfolio/p3.jpg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 branding">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Sagar</h4>
                                    <small>Hospital</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="/static/img/portfolio/p3.jpg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 web">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Sagar</h4>
                                    <small>Hospital</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="/static/img/portfolio/p3.jpg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 app">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Sagar</h4>
                                    <small>School</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="/static/img/portfolio/p3.jpg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 photography web">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Sagar</h4>
                                    <small>Hospital</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="/static/img/portfolio/p3.jpg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 web">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Sagar</h4>
                                    <small>Hospital</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="/static/img/portfolio/p3.jpg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
		</div>
    </div>

    <!-- Clinics Section
    ==========================================-->
    <div id="tf-clinics">
        <div class="container"> <!-- Container -->
            <div class="section-title text-center center">
                <h2><strong>Featured Clinics</strong></h2>
                <div class="line">
                    <hr>
                </div>
                <div class="clearfix"></div>
                <small><em></em></small>
            </div>
            <div class="categories">
                
                <ul class="cat">
                    <li class="pull-left"><h4>Filter by Type:</h4></li>
                    <li class="pull-right">
                        <ol class="type">
                            <li><a href="#" data-filter="*" class="active">All</a></li>
                            <li><a href="#" data-filter=".web">General Physician</a></li>
                            <li><a href="#" data-filter=".photography">Nero</a></li>
                            <li><a href="#" data-filter=".app" >Heart</a></li>
                            <li><a href="#" data-filter=".branding" >Orthopaedic</a></li>
						</ol>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div id="lightbox" class="row">

                <div class="col-sm-6 col-md-3 col-lg-3 branding">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Sagar</h4>
                                    <small>Hospital</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="/static/img/portfolio/p3.jpg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 photography app">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Sagar</h4>
                                    <small>Hospital</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="/static/img/portfolio/p3.jpg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 branding">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Sagar</h4>
                                    <small>Hospital</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="/static/img/portfolio/p3.jpg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 branding">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Sagar</h4>
                                    <small>Hospital</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="/static/img/portfolio/p3.jpg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 web">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Sagar</h4>
                                    <small>Hospital</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="/static/img/portfolio/p3.jpg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 app">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Sagar</h4>
                                    <small>School</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="/static/img/portfolio/p3.jpg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 photography web">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Sagar</h4>
                                    <small>Hospital</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="/static/img/portfolio/p3.jpg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 web">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Sagar</h4>
                                    <small>Hospital</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="/static/img/portfolio/p3.jpg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Pharmacy Section
    ==========================================-->
    <div id="tf-pharmacy">
        <div class="container"> <!-- Container -->
            <div class="section-title text-center center">
                <h2><strong>Featured Pharmacy</strong></h2>
                <div class="line">
                    <hr>
                </div>
                <div class="clearfix"></div>
                <small><em></em></small>
            </div>
            <div class="categories">
                
                <ul class="cat">
                    <li class="pull-left"><h4>Filter by Type:</h4></li>
                    <li class="pull-right">
                        <ol class="type">
                            <li><a href="#" data-filter="*" class="active">All</a></li>
                            <li><a href="#" data-filter=".web">General Physician</a></li>
                            <li><a href="#" data-filter=".photography">Nero</a></li>
                            <li><a href="#" data-filter=".app" >Heart</a></li>
                            <li><a href="#" data-filter=".branding" >Orthopaedic</a></li>
						</ol>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div id="lightbox" class="row">

                <div class="col-sm-6 col-md-3 col-lg-3 branding">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Sagar</h4>
                                    <small>Hospital</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="/static/img/portfolio/p3.jpg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 photography app">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Sagar</h4>
                                    <small>Hospital</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="/static/img/portfolio/p3.jpg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 branding">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Sagar</h4>
                                    <small>Hospital</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="/static/img/portfolio/p3.jpg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 branding">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Sagar</h4>
                                    <small>Hospital</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="/static/img/portfolio/p3.jpg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 web">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Sagar</h4>
                                    <small>Hospital</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="/static/img/portfolio/p3.jpg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 app">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Sagar</h4>
                                    <small>School</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="/static/img/portfolio/p3.jpg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 photography web">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Sagar</h4>
                                    <small>Hospital</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="/static/img/portfolio/p3.jpg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 web">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Sagar</h4>
                                    <small>Hospital</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="/static/img/portfolio/p3.jpg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>	
    <!-- Testimonials Section
    ==========================================
    <div id="tf-testimonials" class="text-center">
        <div class="overlay">
            <div class="container">
                <div class="section-title center">
                    <h2><strong>Our clients’</strong> testimonials</h2>
                    <div class="line">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div id="testimonial" class="owl-carousel owl-theme">
                            <div class="item">
                                <h5>Very Good Service</h5>
                            </div>

                            <div class="item">
								<h5>Very Good Service</h5>
                            </div>

                            <div class="item">
								<h5>Very Good Service</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

{% endblock %}









