{% extends "base.html" %}

{% block title %}Pharmacy{% endblock %}

{% block midpart %}
  <!----------------Home1------------------------->
    <div id="tf" class="text-center">
        <div class="overlay">

			<div class="content_in" id="map">
				

			</div>
		</div>
	</div>

<!------------------------------------------------------>
    <!-- Portfolio Section
    ==========================================-->
    <div id="tf-hospitals-in">
        <div class="container"> <!-- Container -->
            <div class="categories">

                <div class="clearfix"></div>
            </div>
			<div class="col-sm-3">
							<div class="col-sm-12">
								<div>
									<div class="inner-addon left-addon">
										<h5>Modify Search</h5>

									</div>
									</div>
							</div>			
							<div class="col-sm-12">
								<div>
									<div class="inner-addon left-addon">
										<i class="fa fa-search"></i>
										<input type="text" class="form-control" placeholder="Speciality/Department" name="srch-term" id="keyword_search"  style="border-radius:20px;">

									</div><br>			
									</div>
							</div>
							<div class="col-sm-12">
								<div>
									<div class="inner-addon left-addon">
										<i class="fa fa-search"></i>
										<input type="text" class="form-control" placeholder="Location" name="srch-term" id="location_search"  style="border-radius:20px;">

									</div><br>			
									</div>
							</div>
							<div class="col-sm-12">
								<div>
									<div class="inner-addon left-addon">
										<i class="fa fa-search"></i>
										<input type="text" class="form-control" placeholder="Keyword/Clinics/Hospitals/Lab/Pharmacy" name="srch-term" id="speciality_search"  style="border-radius:20px;">

									</div><br>	
									</div>
							</div>
							<div class="col-sm-6">
										<span class="input-group-btn">
											<a href="hospitals.html"><button tabindex="1" class="btn btn-home-top" type="button" onclick="ga('send', 'event', 'Ask a Question', 'Consult Privately', 'Search');">Search</button></a>
										</span>
							
							</div>
			
			</div>
			<div class="col-sm-9">
            <div id="lightbox" class="row">

				    <div class="col-sm-12 portfolio-item">
                        <div class="hover-bg">
                            <a href="hospital.html">

								<h4 class="f_name_heading">Sagar Hospital</h4>
								<h6 class="f_name_heading_text">258/A, Hosur Road, Bommasandra Industrial Area, Anekal Taluk, Bangalore - 560099</h6>
								<h6 style="color:hospital.html000000;"><i class="fa fa-phone"></i>  080 7122 2222</h6>
                            </a>
                        </div>
                    </div>
				    <div class="col-sm-12 portfolio-item">
                        <div class="hover-bg">
                            <a href="hospital.html">

								<h4 class="f_name_heading">Sagar Hospital</h4>
								<h6 class="f_name_heading_text">258/A, Hosur Road, Bommasandra Industrial Area, Anekal Taluk, Bangalore - 560099</h6>
								<h6 style="color:hospital.html000000;"><i class="fa fa-phone"></i>  080 7122 2222</h6>
                            </a>
                        </div>
                    </div>
				    <div class="col-sm-12 portfolio-item">
                        <div class="hover-bg">
                            <a href="hospital.html">

								<h4 class="f_name_heading">Sagar Hospital</h4>
								<h6 class="f_name_heading_text">258/A, Hosur Road, Bommasandra Industrial Area, Anekal Taluk, Bangalore - 560099</h6>
								<h6 style="color:hospital.html000000;"><i class="fa fa-phone"></i>  080 7122 2222</h6>
                            </a>
                        </div>
                    </div>
				    <div class="col-sm-12 portfolio-item">
                        <div class="hover-bg">
                            <a href="hospital.html">

								<h4 class="f_name_heading">Sagar Hospital</h4>
								<h6 class="f_name_heading_text">258/A, Hosur Road, Bommasandra Industrial Area, Anekal Taluk, Bangalore - 560099</h6>
								<h6 style="color:hospital.html000000;"><i class="fa fa-phone"></i>  080 7122 2222</h6>
                            </a>
                        </div>
                    </div>
				</div>
			</div>
        </div>
    </div>

{% endblock %}

